:root {
  --font-family-serif: Garamond, serif;
  --font-family-sans-serif: Roboto, sans-serif;

  --blue: #3BBDB6;
  --lead: #212121;
  --light-gray: #F5F5F5;
  --gray: #999999;

  --border-radius: 0.8em;

  --box-shadow: 0 3px 5px 0 rgba(0,0,0,0.10);

  --z-index-bottom: -1;
  --z-index-above: 1;
  --z-index-buoyant: 2;
  --z-index-top: 3;

  --max-width-inner: 700px;
  --max-width: 1200px;
  --max-height-outer: 1600px;
}
